<div nz-row>
  <div nz-row nzSpan="24" style="text-align: center">
    <h1 nz-typography>Todo List!</h1>
    <button nz-button nzType="primary" (click)="onClick(data)">
      ADD
    </button>
  </div>
</div>
<div nz-row>
  <div nz-row nzSpan="24">
    <nz-table #basicTable>
      <thead>
        <tr>
          <th>No</th>
          <th>Task</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of data">
          <td>{{ value.id }}</td>
          <td>{{ value.Task }}</td>
          <td>{{ value.Time }}</td>
          <td>
            <a>Action 一 </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="reData(value)">Edit</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="clickDelete(value.id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
